.homepage {
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 60px;
  }
  
  .video-content {
    margin-left: 220px;
    padding: 20px;
    flex: 1;
  }