.YoutubeShorts{
    color: aliceblue;
    width: 100%;
    min-height: 700px;
    height: 750px;
    padding: 1rem;
 }
 .contenedorVideosCortos{
  width: 100%;
  min-height: 250px;
  margin:0;
  padding:0;
  display: flex;
  gap:2rem;
  overflow-x: auto
 }