/* src/components/molecules/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #111; /* Fondo negro */
  color: #fff; /* Texto blanco */
  border-bottom: 1px solid #444;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  height: 40px; /* Ajusta según el tamaño deseado */
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-bar {
  width: 100%;
  padding: 8px;
  border: 1px solid #444;
  border-radius: 4px 0 0 4px; /* Borde redondeado izquierdo */
  background-color: #222; /* Fondo del input negro */
  color: #fff; /* Texto blanco */
  outline: none; /* Quitar el borde por defecto al hacer clic */
}

.search-button {
  padding: 8px 16px;
  border: none;
  background-color: #444;
  color: #fff;
  border-radius: 0 4px 4px 0; /* Borde redondeado derecho */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

.search-button:hover {
  background-color: #555; /* Color de fondo al pasar el mouse */
}

.nav-icons button {
  background: none;
  border: none;
  margin-right: 10px;
  font-size: 20px;
  color: #fff; /* Iconos blancos */
}

.profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 30px;
}

.icons{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: #fff;
}